.header-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  position: fixed;
  top: 28px;
}
.header-title {
  font-size: 36px;
  font-weight: 500;
}
.header-icon {
  margin-left: 16px;
}
.header-screen .fa-cog:hover {
  animation: rotating-cog 1.2s linear infinite;
}
@keyframes rotating-cog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
