.settings-setting {
  margin: 0 24px;
  padding: 20px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.settings-setting i {
  margin-right: 12px;
  color: #aeaeae;
}
.setting-setting__name {
  font-size: 20px;
  font-weight: 300;
}
.settings-setting:last-child {
  border: none;
}
.settings-setting__group {
  padding-bottom: 24px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.setting__2column {
  display: flex;
  justify-content: space-between;
}
.notification__new {
  background-color: tomato;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 12px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}
.settings-setting__column {
  display: flex;
  align-items: center;
}
