#too-big-screen {
  background-color: #000000;
  font-size: 140px;
  font-weight: 800;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  padding: 24px;
  line-height: 0.8;
}

@media screen and (max-width: 540px) {
  #too-big-screen {
    display: none;
  }
}
